.greeting-title {
  font-size: 32px;
  font-weight: 900;
}

.playlist {
  border-color: @borders;
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
}

.playlist preferencesgroup {
  margin-top: 12px;
  margin-bottom: 12px;
}
