.status-icon {
  border-radius: 50%;
  background: @accent_bg_color;
  color: @accent_fg_color;
  min-width: 30px;
  min-height: 30px;
}

.status-icon.large {
  min-width: 86px;
  min-height: 86px;
}

.stopped.status-icon {
  background: @insensitive_fg_color;
}

.error.status-icon {
  background: @destructive_bg_color;
}

.success.status-icon {
  background: @success_bg_color;
}

.scrolled-window {
  border-color: @borders;
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
}

.logs {
  border-top-width: 1px;
  border-style: solid;
  border-color: @borders;
}

.transparent {
  background: transparent;
}

.download-settings > box {
  padding: 12px;
}

.download-settings > box + box {
  border-style: solid;
  border-left-width: 1px;
  border-color: @borders;
}
