pkgbase = nickvision-tube-converter
	pkgdesc = An easy-to-use YouTube video downloader
	pkgver = 2022.6.1
	pkgrel = 1
	url = https://github.com/nlogozzo/NickvisionTubeConverter
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = cmake
	depends = gtk4
	depends = libadwaita
	depends = jsoncpp
	depends = libcurlpp
	depends = yt-dlp
	source = git+https://github.com/nlogozzo/NickvisionTubeConverter.git#tag=2022.6.1
	source = git+https://github.com/Makman2/GCR_CMake.git
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = nickvision-tube-converter
