[Desktop Entry]
Version=1.0
Name=Tube Converter
Comment=An easy-to-use multimedia downloader
Exec=/usr/bin/org.nickvision.tubeconverter
Icon=org.nickvision.tubeconverter
Terminal=false
Type=Application
Categories=AudioVideo;Network;
X-GNOME-UsesNotifications=true
StartupNotify=true
DBusActivatable=true
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;