[Desktop Entry]
Version=1.0
Name=Tube Converter
Comment=An easy-to-use multimedia downloader
Exec=/usr/bin/org.nickvision.tubeconverter
Icon=org.nickvision.tubeconverter
Terminal=false
Type=Application
X-GNOME-UsesNotifications=true
StartupNotify=true
DBusActivatable=true