on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    types: [ "review_requested", "ready_for_review" ]
  workflow_dispatch:
name: Flatpak
permissions:
  id-token: write
  contents: read
jobs:
  gnome-flatpak:
    name: "GNOME on Flatpak"
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.user.login != 'weblate' }}
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-47
      options: --privileged
    strategy:
      matrix:
        arch: [x86_64, aarch64]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: Install deps
        if: ${{ matrix.arch != 'x86_64' }}
        run: |
          curl https://download.docker.com/linux/static/stable/x86_64/docker-27.5.1.tgz --output ./docker.tgz
          tar xzvf docker.tgz
          mv docker/* /usr/bin
      - name: Set up QEMU
        if: ${{ matrix.arch != 'x86_64' }}
        id: qemu
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64
      - uses: flathub-infra/flatpak-github-actions/flatpak-builder@master
        with:
          bundle: org.nickvision.tubeconverter.gnome.flatpak
          manifest-path: flatpak/org.nickvision.tubeconverter.gnome.json
          cache-key: flatpak-builder-gnome-${{ github.sha }}
          arch: ${{ matrix.arch }}
          restore-cache: true
  qt-flatpak:
    name: "QT on Flatpak"
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.user.login != 'weblate' }}
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:kde-6.8
      options: --privileged
    strategy:
      matrix:
        arch: [x86_64, aarch64]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: Install deps
        if: ${{ matrix.arch != 'x86_64' }}
        run: |
          curl https://download.docker.com/linux/static/stable/x86_64/docker-27.5.1.tgz --output ./docker.tgz
          tar xzvf docker.tgz
          mv docker/* /usr/bin
      - name: Set up QEMU
        if: ${{ matrix.arch != 'x86_64' }}
        id: qemu
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64
      - uses: flathub-infra/flatpak-github-actions/flatpak-builder@master
        with:
          bundle: org.nickvision.tubeconverter.qt.flatpak
          manifest-path: flatpak/org.nickvision.tubeconverter.qt.json
          cache-key: flatpak-builder-qt-${{ github.sha }}
          arch: ${{ matrix.arch }}
          restore-cache: true
