on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    types: [ "review_requested", "ready_for_review" ]
  workflow_dispatch:
name: macOS
permissions:
  id-token: write
  contents: read
env:
  PROJECT_NAME: Nickvision.Parabolic.GNOME
  APP_NAME: Parabolic
jobs:
  gnome-macos:
    name: "GNOME on macOS"
    if: ${{ github.event.pull_request.user.login != 'weblate' }}
    strategy:
      matrix:
        variant:
          - arch: arm64
            runner: macos-latest
            runtime: osx-arm64
    runs-on: ${{ matrix.variant.runner }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: "Setup Environment"
        run: |
          brew install gtk4 libadwaita blueprint-compiler gettext glib aria2 ffmpeg
          curl -L "https://github.com/yt-dlp/yt-dlp/releases/download/2026.02.04/yt-dlp_macos" -o "${{ github.workspace }}/resources/macos/yt-dlp"
          chmod +x "${{ github.workspace }}/resources/macos/yt-dlp"
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'
      - name: "Restore"
        run: dotnet restore ${{ env.PROJECT_NAME }} --runtime ${{ matrix.variant.runtime }} /p:PublishReadyToRun=true
      - name: "Package"
        working-directory: ${{ github.workspace }}
        run: |
          chmod +x resources/macos/publish-and-package.sh
          ./resources/macos/publish-and-package.sh ${{ matrix.variant.runtime }}
      - uses: actions/upload-artifact@v4
        with:
          path: ${{ github.workspace }}/resources/macos/${{ env.APP_NAME }}.app
          name: ${{ env.APP_NAME }}-${{ matrix.variant.arch }}.app
