on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    types: [ "review_requested", "ready_for_review" ]
  workflow_dispatch:
name: Windows
permissions:
  id-token: write
  contents: read
env:
  GITHUB_ACTIONS: true
  VCPKG_ROOT: ${{github.workspace}}/vcpkg
jobs:
  build:
    name: "Build on x64"
    runs-on: windows-latest
    if: ${{ github.event.pull_request.user.login != 'weblate' }}
    steps:
      - name: "Checkout"  
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: "Setup Environment"
        run: |
          mkdir build
          powershell -command "Invoke-WebRequest https://github.com/mlocati/gettext-iconv-windows/releases/download/v0.21-v1.16/gettext0.21-iconv1.16-shared-64.zip -OutFile gettext.zip"
          powershell -command "Expand-Archive -Force 'gettext.zip'"
          move gettext\bin\* C:\Windows\System32
          choco install innosetup
      - name: "Vcpkg"
        uses: johnwason/vcpkg-action@v6
        id: vcpkg
        with:
          pkgs: boost-date-time libnick qtbase qtsvg qttools
          triplet: x64-windows
          revision: a9d5cf4006a2960affcf8918f1f439f1160ca984
          token: ${{ secrets.GITHUB_TOKEN }}
          github-binarycache: true
      - name: "Build"
        working-directory: ${{github.workspace}}/build
        run: |
          cmake -G "Visual Studio 17 2022" ..
          cmake --build . --config Release
      - name: "Create Installer"
        working-directory: ${{github.workspace}}/inno
        run: |
          powershell -command "Invoke-WebRequest https://aka.ms/vs/17/release/vc_redist.x64.exe -OutFile vc_redist.x64.exe"
          powershell -command "Invoke-WebRequest https://github.com/yt-dlp/yt-dlp/releases/download/2024.12.23/yt-dlp.exe -OutFile yt-dlp.exe"
          powershell -command "Invoke-WebRequest https://github.com/aria2/aria2/releases/download/release-1.37.0/aria2-1.37.0-win-64bit-build1.zip -OutFile aria2.zip"
          powershell -command "Invoke-WebRequest https://github.com/GyanD/codexffmpeg/releases/download/7.1/ffmpeg-7.1-full_build.zip -OutFile ffmpeg.zip"
          powershell -command "Expand-Archive -Force 'aria2.zip'"
          powershell -command "Expand-Archive -Force 'ffmpeg.zip'"
          move aria2\aria2-1.37.0-win-64bit-build1\aria2c.exe aria2c.exe
          move ffmpeg\ffmpeg-7.1-full_build\bin\ffmpeg.exe ffmpeg.exe
          move ffmpeg\ffmpeg-7.1-full_build\bin\ffprobe.exe ffprobe.exe
          move ffmpeg\ffmpeg-7.1-full_build\bin\ffplay.exe ffplay.exe
          iscc setup.iss
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          path: ${{github.workspace}}/inno/NickvisionParabolicSetup.exe
          name: Windows-x64-Release
