on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    types: [ "review_requested", "ready_for_review" ]
  workflow_dispatch:
name: Windows
permissions:
  id-token: write
  contents: read
env:
  GITHUB_ACTIONS: true
  VCPKG_ROOT: ${{github.workspace}}/vcpkg
jobs:
  build:
    name: "Build on x64"
    runs-on: windows-latest
    if: ${{ github.event.pull_request.user.login != 'weblate' }}
    steps:
      - name: "Checkout"  
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: "Setup Environment"
        shell: pwsh
        run: |
          $ProgressPreference = 'SilentlyContinue'
          mkdir build
          Invoke-WebRequest https://github.com/mlocati/gettext-iconv-windows/releases/download/v0.21-v1.16/gettext0.21-iconv1.16-shared-64.zip -OutFile gettext.zip
          Expand-Archive -Force 'gettext.zip'
          move gettext\bin\* C:\Windows\System32
          choco install innosetup
      - name: "Vcpkg"
        uses: johnwason/vcpkg-action@v6
        id: vcpkg
        with:
          pkgs: boost-date-time libnick qtbase qtsvg qttools qlementine qlementine-icons
          triplet: x64-windows
          revision: f0c3568a543de0c54295c715d5555fd83b547fe4
          token: ${{ secrets.GITHUB_TOKEN }}
          github-binarycache: true
      - name: "Build"
        working-directory: ${{github.workspace}}/build
        run: |
          cmake -G "Visual Studio 17 2022" ..
          cmake --build . --config Release
      - name: "Create Installer"
        working-directory: ${{github.workspace}}/inno
        shell: pwsh
        run: |
          $ProgressPreference = 'SilentlyContinue'
          Invoke-WebRequest https://aka.ms/vs/17/release/vc_redist.x64.exe -OutFile vc_redist.x64.exe
          Invoke-WebRequest https://github.com/yt-dlp/yt-dlp/releases/download/2025.02.19/yt-dlp.exe -OutFile yt-dlp.exe
          Invoke-WebRequest https://github.com/aria2/aria2/releases/download/release-1.37.0/aria2-1.37.0-win-64bit-build1.zip -OutFile aria2.zip
          Invoke-WebRequest https://github.com/yt-dlp/FFmpeg-Builds/releases/download/latest/ffmpeg-n7.1-latest-win64-gpl-7.1.zip -OutFile ffmpeg.zip
          Expand-Archive -Force 'aria2.zip'
          Expand-Archive -Force 'ffmpeg.zip'
          move aria2\aria2-1.37.0-win-64bit-build1\aria2c.exe aria2c.exe
          move ffmpeg\ffmpeg-n7.1-latest-win64-gpl-7.1\bin\ffmpeg.exe ffmpeg.exe
          move ffmpeg\ffmpeg-n7.1-latest-win64-gpl-7.1\bin\ffprobe.exe ffprobe.exe
          move ffmpeg\ffmpeg-n7.1-latest-win64-gpl-7.1\bin\ffplay.exe ffplay.exe
          iscc setup.iss
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          path: ${{github.workspace}}/inno/NickvisionParabolicSetup.exe
          name: Windows-x64-Release
