on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    types: [ "review_requested", "ready_for_review" ]
  workflow_dispatch:
name: Windows
permissions:
  id-token: write
  contents: read
env:
  GITHUB_ACTIONS: true
  VCPKG_ROOT: ${{ github.workspace }}/vcpkg
jobs:
  winui-windows:
    name: "WinUI on Windows"
    if: ${{ github.event.pull_request.user.login != 'weblate' }}
    strategy:
      matrix:
        variant:
          - arch: x64
            runner: windows-latest
            triplet: x64-windows
            ffmpeg: win64
          #- arch: arm64
          #  runner: windows-11-arm
          #  triplet: arm64-windows
          #  ffmpeg: winarm64
    runs-on: ${{ matrix.variant.runner }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: "Setup Environment"
        shell: pwsh
        run: |
          $ProgressPreference = 'SilentlyContinue'
          mkdir build
          mkdir build-portable
          Invoke-WebRequest https://github.com/mlocati/gettext-iconv-windows/releases/download/v0.25-v1.17/gettext0.25-iconv1.17-shared-64.zip -OutFile gettext.zip
          Expand-Archive -Force 'gettext.zip'
          move gettext\bin\* C:\Windows\System32
          choco install innosetup
      - name: "Vcpkg"
        uses: johnwason/vcpkg-action@v7
        id: vcpkg
        with:
          pkgs: boost-date-time libnick
          triplet: ${{ matrix.variant.triplet }}
          revision: 3c49e92d66d8eb4505d7f18d8c461240f55c08b0
          token: ${{ github.token }}
          cache-key: ${{ matrix.variant.triplet }}-3c49e92d66d8eb4505d7f18d8c461240f55c08b0
      - name: "Build (Installer)"
        working-directory: ${{ github.workspace }}/build
        run: |
          cmake -G "Visual Studio 17 2022" ..
          cmake --build . --config Release
      - name: "Build (Portable)"
        working-directory: ${{ github.workspace }}/build-portable
        run: |
          cmake -G "Visual Studio 17 2022" -DBUILD_AS_PORTABLE=ON ..
          cmake --build . --config Release
      - name: "Create Installer"
        working-directory: ${{github.workspace}}/inno
        shell: pwsh
        run: |
          $ProgressPreference = 'SilentlyContinue'
          Invoke-WebRequest https://aka.ms/vs/17/release/vc_redist.${{ matrix.variant.arch }}.exe -OutFile vc_redist.exe
          Invoke-WebRequest https://aka.ms/windowsappsdk/1.7/latest/windowsappruntimeinstall-${{ matrix.variant.arch }}.exe -OutFile windowsappruntimeinstall.exe
          Invoke-WebRequest https://github.com/yt-dlp/yt-dlp/releases/download/2025.09.05/yt-dlp.exe -OutFile yt-dlp.exe
          Invoke-WebRequest https://github.com/aria2/aria2/releases/download/release-1.37.0/aria2-1.37.0-win-64bit-build1.zip -OutFile aria2.zip
          Invoke-WebRequest https://github.com/yt-dlp/FFmpeg-Builds/releases/download/latest/ffmpeg-n7.1-latest-${{ matrix.variant.ffmpeg }}-gpl-7.1.zip -OutFile ffmpeg.zip
          Expand-Archive -Force 'aria2.zip'
          Expand-Archive -Force 'ffmpeg.zip'
          move aria2\aria2-1.37.0-win-64bit-build1\aria2c.exe aria2c.exe
          move ffmpeg\ffmpeg-n7.1-latest-${{ matrix.variant.ffmpeg }}-gpl-7.1\bin\ffmpeg.exe ffmpeg.exe
          move ffmpeg\ffmpeg-n7.1-latest-${{ matrix.variant.ffmpeg }}-gpl-7.1\bin\ffprobe.exe ffprobe.exe
          move ffmpeg\ffmpeg-n7.1-latest-${{ matrix.variant.ffmpeg }}-gpl-7.1\bin\ffplay.exe ffplay.exe
          iscc setup.iss
      - name: "Create Portable"
        working-directory: ${{ github.workspace }}/build-portable/org.nickvision.tubeconverter.winui/Release
        shell: pwsh
        run: |
          $ProgressPreference = 'SilentlyContinue'
          Invoke-WebRequest https://aka.ms/vs/17/release/vc_redist.${{ matrix.variant.arch }}.exe -OutFile vc_redist.exe
          Invoke-WebRequest https://aka.ms/windowsappsdk/1.7/latest/windowsappruntimeinstall-${{ matrix.variant.arch }}.exe -OutFile windowsappruntimeinstall.exe
          Invoke-WebRequest https://github.com/yt-dlp/yt-dlp/releases/download/2025.09.05/yt-dlp.exe -OutFile yt-dlp.exe
          Invoke-WebRequest https://github.com/aria2/aria2/releases/download/release-1.37.0/aria2-1.37.0-win-64bit-build1.zip -OutFile aria2.zip
          Invoke-WebRequest https://github.com/yt-dlp/FFmpeg-Builds/releases/download/latest/ffmpeg-n7.1-latest-${{ matrix.variant.ffmpeg }}-gpl-7.1.zip -OutFile ffmpeg.zip
          Expand-Archive -Force 'aria2.zip'
          Expand-Archive -Force 'ffmpeg.zip'
          move aria2\aria2-1.37.0-win-64bit-build1\aria2c.exe aria2c.exe
          move ffmpeg\ffmpeg-n7.1-latest-${{ matrix.variant.ffmpeg }}-gpl-7.1\bin\ffmpeg.exe ffmpeg.exe
          move ffmpeg\ffmpeg-n7.1-latest-${{ matrix.variant.ffmpeg }}-gpl-7.1\bin\ffprobe.exe ffprobe.exe
          move ffmpeg\ffmpeg-n7.1-latest-${{ matrix.variant.ffmpeg }}-gpl-7.1\bin\ffplay.exe ffplay.exe
          Remove-Item -Path aria2.zip -Force
          Remove-Item -Path aria2 -Recurse -Force
          Remove-Item -Path ffmpeg.zip -Force
          Remove-Item -Path ffmpeg -Recurse -Force
      - name: "Upload (Installer)"
        uses: actions/upload-artifact@v4
        with:
          path: ${{ github.workspace }}/inno/NickvisionParabolicSetup.exe
          name: Windows-${{ matrix.variant.arch }}-Installer
      - name: "Upload (Portable)"
        uses: actions/upload-artifact@v4
        with:
          path: ${{ github.workspace }}/build-portable/org.nickvision.tubeconverter.winui/Release
          name: Windows-${{ matrix.variant.arch }}-Portable
